@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&subset=cyrillic-ext');

// BOOTSTRAP
@import "./_bootstrap/bootstrap-reboot";
@import "./_bootstrap/bootstrap-grid";
@import "./_bootstrap/forms";
@import "./_bootstrap/buttons";
@import "./_bootstrap/alert";
@import "./_bootstrap/type";
@import "./_bootstrap/pagination";

* {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: .85rem !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  text-rendering: geometricPrecision !important;
}


// HEADER >> ==========================================================================================================/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  //background: linear-gradient(90deg, #00a9e2, #007ae0);
  //background: linear-gradient(to left, #9074fe 0%, #5268d2 100%);
  width: 100%;
  //height: 3rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  z-index: 10000;
}

// MAIN MENU
.main-menu {
  display: inline-block;
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
    position: relative;
    &:hover {
      background: rgba(255, 255, 255, 0.09);
    }
    &:hover .main-menu-dropdown {
      display: block !important;
    }
    &.active {
      background: rgba(255, 255, 255, 0.09);
      border-bottom: 1px Solid #9d2aff;
    }
  }
  &__link {
    display: block;
    padding: 1rem;
    font-weight: 500;
    color: #000;
    line-height: 1.25rem;
    &:hover {
      color: #9d2aff;
      text-decoration: none;
    }
  }

  &-dropdown {
    display: none;
    position: absolute;
    left: 0;
    padding: 0 0 1rem;
    margin: 0;
    background: #fff;
    min-width: 250px;
    list-style: none;
    box-shadow: 0 0.4rem 0.75rem rgba(0, 0, 0, 0.05);
    &__item {
      display: block;
    }
    &__link {
      display: block;
      padding: .3rem .9rem;
      color: #b1b8cc;
      &:hover {
        color: #386898;
        text-decoration: none;
      }
    }
  }
}

// AUTH MENU
.auth-menu {
  display: inline-block;
  float: right;
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    display: block;
    padding: 1rem 0;
    font-weight: 500;
    color: #000;
    line-height: 1.25rem;
    & span {
      float: left;
    }
    &:hover {
      color: #9d2aff;
      text-decoration: none;
    }
  }
}

// FOOTER >> ==========================================================================================================/
.footer {
  padding: 1rem 0;
  color: #aeb2bf;
  text-shadow: 1px 1px 0 #fff;
  line-height: 1rem;
  & p {
    margin: 0;
    font-size: .85rem;
  }
  & .made_in {
    display: inline-block;
    color: inherit;
    font-size: .5rem;
    font-weight: 600;
    letter-spacing: .05rem;
    transition: color .3s;
    &:hover {
      color: #009fff;
    }
  }
}


// CONTENT >> =========================================================================================================/
#content {
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  border-radius: .2rem;
  & .main {
    border-right: 1px Solid #f5f5f8;
    padding: 1rem;
    min-height: 500px;
  }
  & .aside {
    padding: 1rem;
  }
}


// WIDGETS >> =========================================================================================================/
//.auth-menu {
//  display: inline-block;
//  float: right;
//  &__list {
//    padding: 0;
//    margin: 0;
//    list-style: none;
//  }
//  &__item {
//    line-height: 1.5rem;
//  }
//  &__link {
//    display: block;
//    padding: 0;
//    color: #000;
//    & span {
//      float: left;
//    }
//  }
//}
.auth {
  &-social {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: .2rem;
   // background: linear-gradient(150deg, #5364f9, #bc00e0);
    background: #1178d2;
    color: #fff;
    transition: background 0.3s;
    &:hover {
      background: #007bff;
      color: #fff;
    }
  }
}

// USERS >> ===========================================================================================================/
.users-list {
  &__item {
    border-bottom: 1px Solid #f5f5f8;
    padding: .5rem 0;
  }
  &__image {
    display: inline-block;
    position: relative;
    float: left;
    margin: 0 .5rem 0 0;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
// COMPONENTS >> ======================================================================================================/
.component {
  // STATUS
  &-status {
    display: inline-block;
    position: absolute;
    right: .25rem;
    bottom: 0.25rem;
    width: .4rem;
    height: .4rem;
    box-shadow: 0 0 0 0.15rem #fff;
    border-radius: 50%;
    &--online {
      background: #09e426;
    }
    &--offline {
      background: #b1c6d2;
    }
  }
  // COUNT VIEW
  &-views {
    display: inline-block;
    line-height: 0;
    &__count {
      display: inline-block;
      float: right;
      padding: 0 .3rem;
      min-width: 40px;
      font-family: Arial, monospace;
      font-size: 14px;
      color: #b6bcc7;
      text-align: left;
      vertical-align: middle;
      line-height: 1.4rem;
    }
    &__icon {
      display: inline-block;
      fill: none;
      stroke: #cad0dc !important;
      overflow: hidden;
    }
  }
}

// HELPERS >> =========================================================================================================/
.icon {
  float: left;
}




// MEDIA QUERIES >> ===================================================================================================/
@media (max-width: 800px) {
  #content .main {
    border: none;
  }
  .aside {
    border-top: 1px Solid #f5f5f8;
  }
}