@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&subset=cyrillic-ext');

// BOOTSTRAP
@import "./_bootstrap/bootstrap-reboot";
@import "./_bootstrap/bootstrap-grid";
@import "./_bootstrap/forms";
@import "./_bootstrap/buttons";
@import "./_bootstrap/alert";
@import "./_bootstrap/type";
@import "./_bootstrap/pagination";
@import "./_bootstrap/modal";
@import "./_bootstrap/dropdown";
@import "./_bootstrap/close";

* {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: .85rem !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  text-rendering: geometricPrecision !important;
}

// HEADER >> ==========================================================================================================/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  //background: linear-gradient(90deg, #00a9e2, #007ae0);
  //background: linear-gradient(to left, #9074fe 0%, #5268d2 100%);
  width: 100%;
  line-height: 3rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  z-index: 100;
  &__brand {
    display: inline-block;
    line-height: 3.3rem;
    float: left;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    &-first {
      color: #000;
    }
    &-last {
      color: #ff0074;
    }
  }
}

// MAIN MENU
.main-menu {
  display: inline-block;
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
    position: relative;
    &:hover {
      background: rgba(255, 255, 255, 0.09);
    }
    &:hover .main-menu-dropdown {
      display: block !important;
    }
    &.active {
      background: rgba(255, 255, 255, 0.09);
      border-bottom: 1px Solid #9d2aff;
    }
  }
  &__link {
    display: block;
    padding: 1rem;
    font-weight: 500;
    color: #000;
    line-height: 1.25rem;
    &:hover {
      color: #9d2aff;
      text-decoration: none;
    }
  }

  &-dropdown {
    display: none;
    position: absolute;
    left: 0;
    padding: 0 0 1rem;
    margin: 0;
    background: #fff;
    min-width: 250px;
    list-style: none;
    box-shadow: 0 0.4rem 0.75rem rgba(0, 0, 0, 0.05);
    &__item {
      display: block;
    }
    &__link {
      display: block;
      padding: .3rem .9rem;
      color: #b1b8cc;
      &:hover {
        color: #386898;
        text-decoration: none;
      }
    }
  }
}

.button-menu {
  position: relative;
  display: none;
  float: left;
  background: transparent;
  border: none;
  padding: .9rem 1rem .9rem 0;
  margin: 0;
  z-index: 130;
  @include transition(all .3s);

  & .icon-bar {
    display: block;
    background: #000;
    margin: 4px 0 4px;
    width: 25px;
    height: 2px;
    height: .12rem;
  }
  &--open {
    // transform: rotate(90deg);
  }
}
.modal-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 120%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
  &--open {
    display: block;
  }
}



// AUTH MENU
.auth-menu {
  display: inline-block;
  float: right;
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    display: inline-block;
    padding: 1rem 0;
    font-weight: 500;
    color: #000;
    line-height: 1.25rem;
    & span {
      padding: 0 0 0 .2rem;
    }
    &:hover {
      color: #9d2aff;
      text-decoration: none;
    }
  }
}

// FOOTER >> ==========================================================================================================/
.footer {
  padding: 1rem 0;
  color: #aeb2bf;
  text-shadow: 1px 1px 0 #fff;
  line-height: 1rem;
  & p {
    margin: 0;
    font-size: .85rem;
  }
  & .made_in {
    display: inline-block;
    color: inherit;
    font-size: .5rem;
    font-weight: 600;
    letter-spacing: .05rem;
    transition: color .3s;
    &:hover {
      color: #009fff;
    }
  }
}


// CONTENT >> =========================================================================================================/
#content {
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  border-radius: .2rem;
  & .main {
    border-right: 1px Solid #f5f5f8;
    padding: 1rem;
    min-height: 500px;
  }
  & .aside {
    padding: 1rem;
  }
}


// WIDGETS >> =========================================================================================================/
//.auth-menu {
//  display: inline-block;
//  float: right;
//  &__list {
//    padding: 0;
//    margin: 0;
//    list-style: none;
//  }
//  &__item {
//    line-height: 1.5rem;
//  }
//  &__link {
//    display: block;
//    padding: 0;
//    color: #000;
//    & span {
//      float: left;
//    }
//  }
//}
.auth {
  &-social {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: .2rem;
   // background: linear-gradient(150deg, #5364f9, #bc00e0);
    background: #1178d2;
    color: #fff;
    transition: background 0.3s;
    &:hover {
      background: #007bff;
      color: #fff;
    }
  }
}

// USERS >> ===========================================================================================================/
.users-list {
  &__item {
    border-bottom: 1px Solid #f5f5f8;
    padding: .5rem 0;
  }
  &__image {
    display: inline-block;
    position: relative;
    float: left;
    margin: 0 .5rem 0 0;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
// COMPONENTS >> ======================================================================================================/
.component {
  // STATUS
  &-status {
    display: inline-block;
    position: absolute;
    right: .25rem;
    bottom: 0.25rem;
    width: .4rem;
    height: .4rem;
    box-shadow: 0 0 0 0.15rem #fff;
    border-radius: 50%;
    &--online {
      background: #09e426;
    }
    &--offline {
      background: #b1c6d2;
    }
  }
  // COUNT VIEW
  &-views {
    display: inline-block;
    line-height: 0;
    &__count {
      display: inline-block;
      float: right;
      padding: 0 .3rem;
      min-width: 40px;
      font-family: Arial, monospace;
      font-size: 14px;
      color: #b6bcc7;
      text-align: left;
      vertical-align: middle;
      line-height: 1.4rem;
    }
    &__icon {
      display: inline-block;
      fill: none;
      stroke: #cad0dc !important;
      overflow: hidden;
    }
  }
  // LIKE SYSTEM
  &-likes {
    display: inline-block;
    line-height: 0;
    &__count {
      display: inline-block;
      float: left;
      padding: 0 .3rem;
      min-width: 40px;
      font-family: Arial, monospace;
      font-size: 14px;
      color: #b6bcc7;
      text-align: right;
      vertical-align: middle;
      line-height: 1.4rem;
    }
    &__button {
      display: inline-block;
      overflow: hidden;
    }
    & .like {
      &--true {
        fill: #ff5b97 !important;
        stroke: #ff5b97 !important;
        -webkit-animation: like--true .2s normal;
        -moz-animation: like--true .2s normal;
        -o-animation: like--true .2s normal;
        animation: like--true .2s normal;
      }
      &--false {
        //fill: #cad0dc !important;
        fill: none;
        stroke: #cad0dc !important;
        -webkit-animation: like--false .2s normal;
        -moz-animation: like--false .2s normal;
        -o-animation: like--false .2s normal;
        animation: like--false .2s normal;
      }
    }
  }
}

// HELPERS >> =========================================================================================================/
.icon {
  float: left;
}




// MEDIA QUERIES >> ===================================================================================================/
@media (max-width: 800px) {
  // header
  .header {
    line-height: 0rem;
    text-align: center;
    &__brand {
      display: inline-block;
      color: #000;
      font-size: 20px;
    }
  }
  .main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: -75%;
    width: 70%;
    background: #fff;
    @include transition(left .3s);
    box-shadow: 0.2rem 0rem 0.5rem rgba(0, 0, 0, 0.05);
    z-index: 100;
  }
  .open-menu {
    left: 0 !important;
  }
  .button-menu {
    display: inline-block;
  }

  //.no-margin {
  //  margin: 0 !important;
  //}
  #content .main {
    border: none;
  }
  .aside {
    border-top: 1px Solid #f5f5f8;
  }
}



// ANIMATIONS >> ======================================================================================================/
// LIKE TRUE
@-webkit-keyframes like--true {
  0% {
    -webkit-transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes like--true {
  0% {
    -moz-transform: scale(1);
  }
  70% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes like--true {
  0% {
    -o-transform: scale(1);
  }
  70% {
    -o-transform: scale(1.2);
  }
  100% {
    -o-transform: scale(1);
  }
}

@keyframes like--true {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// LIKE FALSE
@-webkit-keyframes like--false {
  0% {
    -webkit-transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes like--false {
  0% {
    -moz-transform: scale(1);
  }
  70% {
    -moz-transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes like--false {
  0% {
    -o-transform: scale(1);
  }
  70% {
    -o-transform: scale(0.8);
  }
  100% {
    -o-transform: scale(1);
  }
}

@keyframes like--false {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}